body, html {
  height: 100%;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
  color: #BFEBF6;
}

.background {
  position: fixed;
  z-index: -1;
  background: linear-gradient( 135deg, #131C1B 0%, #002661 100%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.nav-title {
  display: inline-block;
}

.main-title {
  color: #D1AD4D;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .hide-portrait {
    display: none;
  }
}

.first-col {
  text-align: left;
}

.currency-table {
  text-align: right;
}

.container {
  animation: fadeIn 1s;
}

.nav {
  display: block;
  line-height: 5.2rem;
  z-index: 1;
  top: 1em;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.nav-list {
  list-style: none;
}

thead {
  color: #41A7C5;
  font-weight: bold;
}

.nav-item {
  float: left;
  margin-bottom: 0;
  margin-left: 1.5rem;
  position: relative;
}

.button-1 {
  background-color: #41A7C5;
  border-color: #41A7C5;
}

.button-1.button-1-clear, .button-1.button-1-outline {
  background-color: transparent;
  color: #41A7C5;
}

.button-1.button-1-clear {
  border-color: transparent;
}

.button-2, input[type="submit"] {
  background-color: #006680;
  border-color: #006680;
}

.button-2.button-2-clear, .button-2.button-2-outline {
  background-color: transparent;
  border-color: #006680;
  color: #006680;
}

.button-2.button-2-clear {
  border-color: transparent;
}

.button-3 {
  background-color: #BFEBF6;
  border-color: #BFEBF6;
  color: #006680;
}

.button-3.button-3-clear, .button-3.button-3-outline {
  background-color: transparent;
  color: #BFEBF6;
}

.button-3.button-3-clear {
  border-color: transparent;
}

.text-postive {
  color: #245E1B;
}

.text-negative {
  color: #8E1C1C;
}

.form {
  max-width: 450px;
  margin: 60px auto;
}

.color-1 {
  color: #41A7C5;
}

input {
  color: #BFEBF6;
}

.button-list {
  margin-right: 10px;
  margin-left: 10px;
}

input[type="text"]:focus {
  border-color: #41A7C5;
}

input[type="password"]:focus {
  border-color: #41A7C5;
}

input[type="number"]:focus {
  border-color: #41A7C5;
}

input[type="date"]:focus {
  color: #006680;
  border-color: #006680;
}

input[type="date"] {
  color: #006680;
  border-color: #006680;
}

select {
  color: #BFEBF6;
  background: transparent;
}

select:focus {
  border-color: #41A7C5;
  background: transparent;
}

.settings-table {
  text-align: left;
}

.nav-logo {
  max-height: 70px;
}

.error-container {
  align-items: center;
}

.error {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  color: #8E1C1C;
  background-color: #AC5959;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.footer-bar {
  width: 100%;
  min-height: 50px;
  background-color: #006680;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 601px) {
  #app {
    margin-bottom: 60px;
  }
  .footer-bar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  #app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .footer-bar {
    flex: 1;
    height: 50px;
    max-height: 50px;
  }
}
