body, html {
  height: 100%;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
  color: #BFEBF6;
  background-color: #131C1B;
}

.main-background {
  background-color: #131C1B;
}

.nav-title {
  display: inline-block;
}

.main-title {
  color: #D1AD4D;
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

.container {
 animation: fadeIn 1s;
}

.nav {
 display: block;
 line-height: 5.2rem;
 z-index: 1;
}

.nav-list {
 list-style: none;
}

.nav-item {
 float: left;
 margin-bottom: 0;
 margin-left: 1.5rem;
 position: relative;
}

.button-1, input[type="submit"]{
  background-color: #41A7C5;
  border-color: #41A7C5;
}

.button-1.button-1-clear,
.button-1.button-1-outline {
  background-color: transparent;
  color: #41A7C5;
}
.button-1.button-1-clear {
  border-color: transparent;
}

.button-2 {
  background-color: #006680;
  border-color: #006680;
}

.button-2.button-2-clear,
.button-2.button-2-outline {
  background-color: transparent;
  color: #006680;
}
.button-2.button-2-clear {
  border-color: transparent;
}

.button-3 {
  background-color: #BFEBF6;
  border-color: #BFEBF6;
}

.button-3.button-3-clear,
.button-3.button-3-outline {
  background-color: transparent;
  color: #BFEBF6;
}
.button-3.button-3-clear {
  border-color: transparent;
}

.text-postive {
  color: #245E1B;
}

.text-negative {
  color: #8E1C1C;
}

.form {
  max-width: 450px;
  margin: 60px auto;
}

input {
  color: #BFEBF6;
}

.nav-logo {
  max-height: 70px;
}

.error-container {
  align-items: center;
}

.error {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  color: #8E1C1C;
  background-color: #AC5959;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}
